$fontSizeSM: 12px;
$fontSizeBASE: 14px;
$fontSizeLG: 16px;
$freeSpace: 1rem;
$borderRadius: 10px;
$mainColor: #6c757d;
$borderColor: #dee2e6;
$boxShadowColor: #dee2e6;
$darkBg: rgba(0, 0, 0, 0.075);
$whiteColor: #fff;
$hoverColor: #5a6268;



